<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Medical service</title>
    <link rel="stylesheet" href="../../../nginx/css/style.css">
    <!-- MDB icon -->
    <link rel="icon" href="../../../nginx/img/mdb-favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../../nginx/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../../../nginx/css/mdb.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
</head>
<body class="home">
<div class="container-for-admin">
    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">

        </nav>
        <!-- Navbar -->

        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
            <a class="logo-wrapper waves-effect">
                <img src="https://baxtergroupinc.com/wp-content/uploads/2017/11/stethoscope-icon-2316460.png"
                     class="img-fluid" alt>
            </a>

            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item active waves-effect">
                    <i class="fa fa-wheelchair mr-3" aria-hidden="true"></i></i>Main
                </a>
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-comments mr-3"></i>Chat</a>
                <a href="logout" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-user-circle mr-3" aria-hidden="true"></i>Logout</a>
            </div>

        </div>
        <!-- Sidebar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">
            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">
                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Medical Service</a>
                        <span>/</span>
                        <span>Main</span>
                    </h4>

                </div>

            </div>
            <!-- Heading -->
            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-9 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body-my" id="info">
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <!--Card-->
                    <div class="card mb-4">

                        <!--Card content-->
                        <div class="card example-1 scrollbar-near-moon">
                        <div class="card-body">
                            <form class="d-flex justify-content-center">
                                <!-- Default input -->
                                <input type="search" placeholder="Найти пользователя" aria-label="Search"
                                       class="form-control" id="filter">
                                <button class="btn btn-primary btn-sm my-0 p" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>

                            </form>
                            <p></p>
                            <!-- List group links -->
                            <div class="list-group list-group-flush" id="data">
                                <!--Card-->

                                <!--/.Card-->
                            </div>
                            <!-- List group links -->
                        </div>
                        </div>
                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">

    </footer>
    <!--/.Footer-->
</div>


<!-- Start your project here-->

<!-- End your project here-->

<!-- jQuery -->
<script type="text/javascript" src="../../../nginx/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../../nginx/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../../nginx/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../../nginx/js/mdb.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<!-- Your custom scripts (optional) -->
<script type="text/javascript" src="../../../nginx/js/user.js" defer></script>

</body>

</html>